.Button {
    color: white;
    border: none;
    cursor: pointer;
    font: inherit;
    padding: 15px 32px;
    display: inline-block;
    font-weight: bold;
    text-align: center;

}

.Success {
    background-color: #4CAF50;
}

.Danger {
    background-color: #944317;
}